body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera, newer Edge */
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/6818037/pexels-photo-6818037.jpeg);

  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile {
  width: 350px;
  height: 650px;
  background-color: rgba(163, 56, 187, 0.572);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 0px 0px 4px 2px #00000059;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  color: white;
}

.mobile-top {
  font-size: 0.7rem;
  font-weight: lighter;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.current-weather {
  background-color: rgba(99, 34, 142, 0.871);
}

.temp-icon {
  font-size: 4rem;
}

.forecast {
  min-height: 300px;
}
.extra-metrics {
  height: 50px;
}

.forecast-row {
  height: 50px;
  font-size: 0.7rem;
}

.forecast-details {
  min-width: 150px;
}

.temp {
  display: flex;
  justify-content: start;
  /* width: 60px; */
  gap: 10px;
}

.temp > div {
  width: 25px;
}

.hidden {
  display: none;
}

.metric {
  font-weight: lighter;
  font-size: 0.7rem;
}

.forecast-table {
  --bs-table-bg: transparent !important;
  font-size: 0.8rem;

  td {
    color: rgba(255, 255, 255, 0.8) !important;
    border-color: rgba(255, 255, 255, 0.1);
    font-weight: lighter;
    padding: 0px !important;
  }
  td > span {
    font-size: 1.5rem;
  }
}
